{% extends "layout.html"  %}

{% block content %}
<div  class="container">
  <div class="jumbotron">
    <!-- begin -->
    <h1>About.<small> bem vindo!</small></h1>
    <p>Small talk is an informal type of discourse that does not cover any
       functional topics of conversation or any transactions that need to be
       addressed.</p>
    <p>Small talk is conversation for its own sake. The phenomenon of small
       talk was initially studied in 1923 by Bronisław Malinowski, who coined
       the term "phatic communication" to describe it. The ability to conduct
       small talk is a social skill; hence, small talk is some type of social
       communication. Early publications assume networked work positions as
       suitable for social communication.</p>
    <!-- end -->
  </div>
</div>
{% endblock %}
