{% extends "layout.html"  %}

{% block content %}
<div  class="container">
  <div class="jumbotron">
    <!-- begin -->
    <h1>Small talk<small> purpose</small></h1>
    <p>In spite of seeming to have little useful purpose, small talk is a
       bonding ritual and a strategy for managing interpersonal distance.
       It serves many functions in helping to define the relationships between
       friends, colleagues, and new acquaintances. In particular, it helps new
       acquaintances to explore and categorize each other's social position.
       Small talk is closely related to the need for people to maintain positive
       face and feel approved of by those who are listening to them. It
       lubricates social interactions in a very flexible way, but the desired
       function is often dependent on the point in the conversation at which
       the small talk occurs:</p>

       <br>
       <h4>Conversation opener:</h4>
       <p>when the speakers do not know each other, it allows them to show that
          they have friendly intentions and desire some sort of positive
          interaction. In a business meeting, it enables people to establish
          each other's reputation and level of expertise. If there is already
          a relationship between the two talkers, their small talk serves as a
          gentle introduction before engaging in more functional topics of
          conversation. It allows them to signal their own mood and to sense
          the mood of the other person.</p>

        <br>
        <h4>At the end of a conversation:</h4>
        <p>suddenly ending an exchange may risk appearing to reject the other
          person. Small talk can be used to mitigate that rejection, affirm the
          relationship between the two people, and soften the parting.</p>

        <br>
        <h4>Space filler to avoid silence:</h4>
        <p>in many cultures, silences between two people are usually considered
          uncomfortable and/or awkward. Tension can be reduced by starting
          phatic talk until a more substantial subject arises. Generally,
          humans find prolonged silence uncomfortable, and sometimes unbearable.
          That can be due to human evolutionary history as a social species, as
          in many other social animals, silence is a communicative sign of
          potential danger.</p>
    <!-- end -->
  </div>
</div>
{% endblock %}
